/*designer by hunlongyu 2015/12/9*/

h3 {
	text-shadow: 4px 2px 2px #AAAAAA;
}

hr {
	border-top: 1px solid #aaa;
}

li {
	list-style: none;
}


/*巨幕*/

#jumbotron {
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
	color: #EEEEEE;
}

#logo {
	width: 120px;
	height: auto;
}

#jumbotron h2 {
	text-align: center;
}

#jumbotron p {
	text-align: center;
}


/*skills*/

.progress {
	background-color: #ccc;
}

.progress-bar {
	background-color: #666666;
}


/*works*/

#works small {
	text-align: right;
}


/*resume*/

#resume img {
	float: left;
	max-width: 60px;
	margin-right: 20px;
}

#foot {
	background-color: #333;
	color: #EEEEEE;
	text-align: center;
	margin-bottom: 0px;
	padding: 0;
}